@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body {
	height: 100%;
  font-family: 'Lato', sans-serif;
}

.container, .main-row{
	padding: 10px 0 0 0 ;
	height: 100%;
}

.left-container, .right-container{
	height: 100%;
}

.left-container, .right-container, .uo-line-element, .login-picture{
	border: 1px dashed #ababab;
}

/* Login -----------------------------------------------------------*/

.login-container{
	height:600px;
	width:70%
}

.login-panel{
}

.login-picture{
	width: 200px;
	margin:0 auto;
}



/* Left Container --------------------------------------------------*/

.left-container{
	padding: 0 0 0 0 !important;
	position: relative;	
}

/* User Information --------------------------------------*/

.user-information{
	height:300px;
	padding: 10px 0 0 0;
}

.user-picture{
	width: 200px;
	margin:0 auto;
}

.user-info{
	text-align: center;
}

/* Order List --------------------------------------------*/

.userorder-list{
	position: absolute;
	top: 300px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.uo-line{
	clear:both;
	line-height: 30px;
	vertical-align: center;
	padding: 0 5px 0 5px;
}

.uo-line:hover{
	background-color: #ababab
}

.uo-line-selected{
	background-color: #5e5e5e
}

.uo-line-element{
	float: left;
}

.uo-price{
	float:right;
	text-align: right;
}

/* Right Container --------------------------------------------------*/

.user-i .userorder-list {
  position: absolute;
  top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}