@(globalOrderList:List[GlobalOrder],user:User)

@import helper._

@main("Global Order List") {

<div class="row">        
    <ul class="nav nav-pills">
        <li class="active"><a href="#">Admin</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>


<div class="row">
    <h2>@session.get("name")<h2>
</div>

@for(globalOrder<-globalOrderList){
<div class="row">
    <ul>
        <li>Commande @globalOrder.id</li>
        <ul>
            <li>Start: @globalOrder.start</li>
            <li>End: @globalOrder.end</li>
            <li>Nb Cap: @globalOrder.getQuantity()</li>
            <li>Price: @globalOrder.getPrice()</li>
            <li>Orders: @globalOrder.userOrderList.size()
            <ul>   
            @for(userOrder<-globalOrder.userOrderList){
            <li>@userOrder.id @userOrder.user.name @userOrder.getPrice() @userOrder.paid
                @form(routes.UserOrderController.userOrder(userOrder.id)) {
                <button type="submit"><span class="glyphicon glyphicon-cog"></span></button>
                }
            </li>
            }
            <li>
                @form(routes.UserOrderController.newUserOrder(globalOrder.id)) {
                <button type="submit">Join</button>
                }
            </ul>
        </ul>
    </ul>
</div>    
}
<!--<div class='row'>
    @form(routes.GlobalOrderController.newGlobalOrder()){
    <button type="submit"><span class="glyphicon glyphicon-plus"></span></button>
    }
</div>-->
}