@(globalOrderList:List[GlobalOrder])

@import helper._

@main("Global Order List") {

<div class="row">        
    <ul class="nav nav-pills">
        <li><a href="/user/1">Commandes</a></li>
        <li class="active"><a href="#">Admin</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">

        <ul>
            <li>@globalOrderList.size() Orders</li>
            <ul>
                @for(status <- 0 to 2){
                <li>Nb GlobalOrder with status @status @GlobalOrder.getNbGlobalOrderByStatus(status)</li>
                }
            </ul>   

            <li>
            @form(routes.GlobalOrderController.newGlobalOrder()){
            <button type="submit"><span class="glyphicon glyphicon-plus"></span></button>
            }
            </li>	


    </div>
    
    <div class="col-md-8">

        <ul>
            @for(globalOrder<-globalOrderList){
            <li>@globalOrder.id</li>
            <ul>
                <li>Start @globalOrder.start</li>
                <li>End @globalOrder.end</li>
                <li>Nb Cap @globalOrder.getQuantity()</li>
                <li>Price @globalOrder.getPrice()</li>
            </ul>
            }
        </ul>

    </div>
</div>	    

}