@linkUsers = @{routes.UserController.users()} 
@linkProducts = @{routes.ProductController.products()}
@linkUserOrder = @{routes.UserOrderController.userOrder(1L)}
@linkUserOrderList = @{routes.UserController.user(1L)}
@linkGlobalOrderList = @{routes.GlobalOrderController.globalOrderList()}

@main("Home") {
    <h1><a href=@linkUsers>Users</a></h1>
    <h1><a href=@linkProducts>Products</a></h1>
    <h1><a href=@linkUserOrder>UserOrder</a></h1>
    <h1><a href=@linkUserOrderList>UserOrderList</a></h1>
    <h1><a href=@linkGlobalOrderList>GlobalOrderList</a></h1>
}