@(loginForm: Form[Application.Login])

@import helper._

@main("Login") {

    @helper.form(routes.Application.authenticate) {
        
    
        <div class="col-md-4 col-md-offset-4 col-sm-6 vcenter">
            
            <div class="tile tile-profile margin-top-big">

                <img src=@routes.Assets.at("img/user/pandasmall.jpg") alt="">

                <div class="form-group input-icon margin-top">
                    <span class="fa-user fa"></span>
                    <input type="text" name='name' placeholder='Nom' class="form-control" placeholder="Username">
                </div>
                
                <button type="submit" class="btn btn-block btn-danger btn-embossed">Login</button>

            </div>

            @if(loginForm.hasGlobalErrors) { 
            <div class="alert alert-error">
                <button type="button" class="close fa fa-times"></button>
                @loginForm.globalError.message
            </div>
            }
            
            @if(flash.contains("success")) {
                <div class="alert alert-success">
                    <button type="button" class="close fa fa-times"></button>
                        @flash.get("success")                
                </div>
            }
        </div>

    }

}


