@(userOrder: UserOrder, productList: List[Product])

@import helper._

@main("UserOrder list") {

<div class="row">        
    <ul class="nav nav-pills">
        <li><a href="/globalorderlist">Home</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

<div class="row">
    <h2>@session.get("name")</h2>
</div>

<div class="row">
    <ul>
        <li>Global Order Status: @userOrder.globalOrder.status</li>
        <li>Global Order Date: @userOrder.globalOrder.end</li>
        <li>Nb Capsules: @userOrder.getQuantity()</li> 
        <li>Price: @userOrder.getPrice()</li>
        <li>Paid: @userOrder.paid</li>
    </ul>  

<div class="row">
    <div class="col-md-8">
        
        <ul>
        @for(product <- productList){
            <li> @product.id @product.name @product.intensity @product.price Eur
            @form(routes.OrderProductController.newOrderProduct(userOrder.id)) {
                <input type="hidden" value="@product.id" name="product.id"/>
                <button type="submit"><span class="glyphicon glyphicon-plus"></span></button>
            }
            </li>
        }    
        </ul> 
    </div>
    

    <div class="col-md-4">        
        <ul>     
        @if(userOrder.orderProductList.size()>0){
            @for(orderProduct <- userOrder.orderProductList){
            <li>@orderProduct.id @orderProduct.quantity @orderProduct.product.name @orderProduct.getPrice() €</li>
            @form(routes.OrderProductController.increaseQuantity(orderProduct.id), 'class -> "orderProductControl") {
            <button type="submit"><span class="glyphicon glyphicon-plus"></span></button>
            }
            @form(routes.OrderProductController.decreaseQuantity(orderProduct.id), 'class -> "orderProductControl") {
            <button type="submit"><span class="glyphicon glyphicon-minus"></span></button>
            }
            @form(routes.OrderProductController.deleteOrderProduct(orderProduct.id)) {
            <button type="submit"><span class="glyphicon glyphicon-remove"></span></button>
            }
            }
        }
        </ul>
    
    </div>
</div>	    

}