@(user:User)

@import helper._

@main("UserOrder list") {


<div class="row">        
    <ul class="nav nav-pills">
        <li class="active"><a href="#">Commandes</a></li>
        <li><a href='/globalorderlist'>Admin</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@user.name</h2>

        <ul>
            <li>@user.userOrderList.size() userOrders</li>
            <ul>
                @for(status <- 0 to 2){
                <li>Nb UserOrder with status @status @user.getNbUserOrderByStatus(status)</li>
                }
            </ul>
            <li>
            @form(routes.UserOrderController.newUserOrder()){
            <button type="submit"><span class="glyphicon glyphicon-plus"></span></button>
            }
            </li>

        </ul>   
    </div>
    
    <div class="col-md-8">
    	
        <ul>
    	@for(userOrder<-user.userOrderList){
    		<li>@userOrder.id @userOrder.date @userOrder.getQuantity() capsules @userOrder.getPrice() Euros @userOrder.paid                 
            @form(routes.UserOrderController.userOrder(userOrder.id)) {
            <button type="submit"><span class="glyphicon glyphicon-cog"></span></button>
            }
            </li>
    	}
        </ul>

    </div>
</div>	    

}